body{
    background: url("https://23nchan.github.io/images/ContainerBackground.png");
    background-size: 100% 100%;
}
div#container{

    width: 1920px;
    height: 950px;
}

div#title{
    widht:1920px;
    height: 95px;
}

div#body{


    width: 1920px;
    height:855px;
    float: left;
}
div#lk{
    width: 19px;
    height: 855px;
    float: left;
}
div#HTML5{
    width: 200px;
    height: 855px;
    float: left;
}
div#css3 {
    width: 200px;
    height: 855px;
    float: left;
}
div#javascript {
    width: 200px;
    height: 855px;
    float: left;
}
